<div class="viewport" fxLayout="row" fxLayoutGap="10px">
  <div class="main" fxLayout="column" fxLayoutGap="10px">
    <app-placement-signals></app-placement-signals>
    <app-motor-current></app-motor-current>
    <div class="heads-up" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end start">
      <app-impella-flow></app-impella-flow>
      <app-purge-system></app-purge-system>
      <app-cardiac-output></app-cardiac-output>
    </div>
  </div>
  <div class="side">
    <app-menu></app-menu>
  </div>
</div>
